# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pcm
*.cxx*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Figures
*.png
*.pdf

# ROOT
*.root

# EMACS
*~

# MAC
*.DS_Store
